* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#para1::before {
    content: "ㅋㅋㅋ";
    color: red;
}
/* 문자열 "" */

#para1::after {
    content: "ㅎㅎㅎ";
    color: green;
}

#list1 {
    margin-left: 25px;
}

#list1>li::after {
    content: " 원";
    font-size: 0.8em;
    color: gray;
}

/* befor, after 가상요소는 내용이 아닌 것으로 취급하니
화면에서 드래그 통하지 않음 
아무한테나 쓸 수 없음. html의 <>ㅇ(여기)</> 들어감. 안밖 구분있는 것만 가능
ex) <img/>은 사용할 수  없음*/

#clsBtn {
    width: 50px;
    height: 50px;
}

#clsBtn::before, 
#clsBtn::after {
    content: ""; /* 내용 없어도 넣어야함 */
    display: block; /* 강제로 블록인척해라 */
    width: 50px;
    height: 3px;
    background: red;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

/*인라인
    가운데 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
*/